# Use-case 1: Data preparation and processing
## Content data preparation

---
---

## Preparing environment

In [1]:
import pandas as pd # Importing Pandas library.
print(pd.__version__) # Checking what Pandas version I am using.

df_content = pd.read_pickle('data/banijay_op1data_content_raw.pkl') # Reading the content data.

1.4.4

---

## Data exploration

### Create a new code block, and use the head() function to preview the first 10 lines of the data.

In [2]:
df_content.head(10)

,date,hosts,id,length,start,end,title,summary,keywords
0,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_01_segment,00:21:21,22:20:11:10,22:41:32:12,"Gerard Smetsers, Annelie Jager en KÃ¡roly Illy ...","De basisscholen mogen weer open, maar dat bete...","[directeur, gesloten, basisscholen]"
1,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_02_segment,00:11:04,22:41:36:17,22:52:41:03,IC-arts Hugo Touw wil versoepeling van de coro...,Intensivisten pleiten voor versoepeling van de...,"[accepteren, waarom, coronamaatregelen]"
2,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_03_segment,00:11:15,22:53:04:13,23:04:20:09,Feike Sijbesma over de gevolgen van de klimaat...,Volgens ex-coronagezant Feike Sijbesma is de c...,"[snel, wereldleiders, klimaatcrisis]"
3,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_04_segment,00:11:20,23:04:22:01,23:15:39:09,Danny Ghosen en ex-designerdrugsverslaafde Kev...,Steeds vaker komen er meldingen binnen van men...,"[nieuwste, combinatie, designerdrug]"
4,01-02-2022,"[Brink, Tijs van den, Ostiana, Giovanca, Fikse...",OP1__________-WON02290378_01_segment,00:06:22,22:38:18:04,22:44:40:07,Op1 - De opening van dinsdag 1 februari,"Marc van der Linden, Jeroen Snel en Jesse Klav...","[snel, linden, nieuws]"
5,01-02-2022,"[Brink, Tijs van den, Ostiana, Giovanca, Fikse...",OP1__________-WON02290378_02_segment,00:06:56,22:44:41:09,22:51:38:07,Boordcommandant Loek Beelen redde bemanningsle...,Door de storm Corrie raakte het anker van vrac...,"[zes, reddingsoperatie, vrachtschip]"
6,01-02-2022,"[Brink, Tijs van den, Ostiana, Giovanca, Fikse...",OP1__________-WON02290378_03_segment,00:15:46,22:51:38:22,23:07:24:24,"Mirjam Bikker, Roland Pierik, Thomas van Groni...",Wordt het omstreden 2G-beleid in Nederland ing...,"[rechtsfilosoof, effectiviteit, 2g]"
7,01-02-2022,"[Brink, Tijs van den, Ostiana, Giovanca, Fikse...",OP1__________-WON02290378_04_segment,00:11:57,23:08:06:04,23:20:03:05,Jesse Klaver & Jurgen de Vries over de spaartaks,Positief nieuws voor rijke spaarders. Door de ...,"[voorzitter, verwachting, groenlinks]"
8,01-02-2022,"[Brink, Tijs van den, Ostiana, Giovanca, Fikse...",OP1__________-WON02290378_05_segment,00:13:16,23:20:01:18,23:33:16:07,Jeroen Snel & Marc van der Linden over 20 jaar...,Het is morgen precies 20 jaar geleden dat koni...,"[20, veranderd, koningshuisdeskundigen]"
9,01-03-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02205329_01_segment,00:12:35,22:31:15:07,22:43:50:12,Stefan de Vries en Chazia Mourali over de vero...,De Franse oud-president Nicolas Sarkozy is sch...,"[twee, nieuws, gevangenisstraf]"

### Use the info() function to preview the data types of the columns.

In [3]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2984 entries, 0 to 2983
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2984 non-null   object
 1   hosts     2984 non-null   object
 2   id        2984 non-null   object
 3   length    2984 non-null   object
 4   start     2984 non-null   object
 5   end       2984 non-null   object
 6   title     2984 non-null   object
 7   summary   2984 non-null   object
 8   keywords  2984 non-null   object
dtypes: object(9)
memory usage: 209.9+ KB

### Use the describe() function to preview the descriptive statistics of the data.

In [4]:
df_content.describe()

,date,hosts,id,length,start,end,title,summary,keywords
count,2984,2984,2984,2984,2984,2984,2984,2984,2984
unique,710,60,2984,1011,2953,2945,2982,2948,2935
top,19-04-2020,"[Napel, Carrie ten, Groenhuijsen, Charles]",OP1__________-WON02197428_01_segment,00:12:34,22:54:47:04,23:02:22:10,Joost Vullings over het coronadebat in de Twee...,De gasten aan tafel bespreken hun nieuws van d...,"[gasten, tafel, nieuws]"
freq,9,349,1,13,3,3,2,29,29

### Use the value_counts() function to preview the number of unique values in each column and identify the hosts that occur the most.

In [5]:
pd.value_counts(df_content['hosts'])

[Napel, Carrie ten, Groenhuijsen, Charles]                                                              349
[Ostiana, Giovanca, Brink, Tijs van den]                                                                320
[Sijtsma, Welmoed, Kelder, Jort]                                                                        256
[Hilbrand, Sophie, Logtenberg, Hugo]                                                                    236
[Logtenberg, Hugo, Moussaid, Nadia]                                                                     171
[Kelder, Jort, Sijtsma, Welmoed]                                                                        162
[Groenhuijsen, Charles, Napel, Carrie ten]                                                              161
[Brink, Tijs van den, Ostiana, Giovanca]                                                                158
[Dijkstra, Erik, Veenhoven, Willemijn]                                                                  144
[Sijtsma, Welmoed, Schimmelpenninck, Sander]                                                            132
[Ekiz, Fidan, Kockelmann, Sven]                                                                         130
[Leeuw, Paul de, Joosten, Astrid]                                                                       117
[Fikse, Margje, Allush, Kefah]                                                                           67
[Ekiz, Fidan, Pauw, Jeroen]                                                                              49
[Groenhuijsen, Charles, Bruin, Elles de]                                                                 48
[Kockelmann, Sven, Muusse, Talitha]                                                                      42
[Brink, Tijs van den, Fikse, Margje]                                                                     34
[Fikse, Margje, Ostiana, Giovanca]                                                                       31
[Moussaid, Nadia, Wielen, Pieter van der]                                                                29
[Kockelmann, Sven, Ekiz, Fidan]                                                                          23
[Logtenberg, Hugo, Hilbrand, Sophie]                                                                     23
[Pauw, Jeroen, Ekiz, Fidan]                                                                              22
[Schimmelpenninck, Sander, Sijtsma, Welmoed]                                                             20
[Moussaid, Nadia, Gibbs, Natasja]                                                                        19
[Logtenberg, Hugo, Kortzorg, Amber]                                                                      19
[Logtenberg, Hugo, Gibbs, Natasja]                                                                       16
[Kockelmann, Sven, Timmerman, Maaike]                                                                    16
[Ostiana, Giovanca, Fikse, Margje]                                                                       15
[Moussaid, Nadia, Dijkstra, Erik]                                                                        14
[Gibbs, Natasja, Dijkstra, Erik]                                                                         11
[Dijkstra, Erik, Veenhoven, Willemijn, Hilbrand, Sophie, Logtenberg, Hugo]                               11
[Kelder, Jort, Timmerman, Maaike]                                                                        10
[Dijkstra, Erik, Gibbs, Natasja]                                                                          9
[Moussaid, Nadia, Logtenberg, Hugo]                                                                       9
[Veenhoven, Willemijn, Dijkstra, Erik]                                                                    8
[Timmerman, Maaike, Kelder, Jort]                                                                         8
[Logtenberg, Hugo, Joosten, Astrid]                                                                       7
[Brink, Tijs van den, Ostiana, Giovanca, Fikse, Margje]                                                   5
[Napel, Carrie ten, Groenhuijsen, Charles, Sijtsma, Welmoed]                                              5
[Sijtsma, Welmoed, Groenhuijsen, Charles]                                                                 5
[Napel, Carrie ten, Brink, Tijs van den]                                                                  5
[Groenhuijsen, Charles, Napel, Carrie ten, Logtenberg, Hugo, Moussaid, Nadia]                             5
[Napel, Carrie ten, Groenhuijsen, Charles, Timmerman, Maaike]                                             5
[Ostiana, Giovanca, Brink, Tijs van den, Fikse, Margje]                                                   5
[Groenhuijsen, Charles, Bruin, Elles de, Brink, Tijs van den, Fikse, Margje]                              4
[Pauw, Jeroen]                                                                                            4
[Dijkstra, Erik, Veenhoven, Willemijn, Hilbrand, Sophie, Logtenberg, Hugo, Hofman, Tim, Ekiz, Fidan]      4
[Leeuw, Paul de, Logtenberg, Hugo]                                                                        4
[Kockelmann, Sven]                                                                                        4
[Brink, Tijs van den, Ostiana, Giovanca, Brink, Tijs van den]                                             4
[Ostiana, Giovanca, Brink, Tijs van den, Napel, Carrie ten, Groenhuijsen, Charles]                        4
[Ostiana, Giovanca, Brink, Tijs van den, Ostiana, Giovanca]                                               4
[Brink, Tijs van den, Allush, Kefah]                                                                      3
[Hilbrand, Sophie, Pauw, Jeroen]                                                                          3
[Pauw, Jeroen, Brink, Tijs van den]                                                                       3
[Brink, Tijs van den, Ostiana, Giovanca, Fikse, Margje, Allush, Kefah]                                    3
[Dijkstra, Erik, Veenhoven, Willemijn, Hilbrand, Sophie, Logtenberg, Hugo, Hofman, Tim]                   3
[Napel, Carrie ten, Groenhuijsen, Charles, Schimmelpenninck, Sander, Sijtsma, Welmoed]                    3
[Pauw, Jeroen, Kelder, Jort, Timmerman, Maaike]                                                           2
[Logtenberg, Hugo, Hofman, Tim, Ekiz, Fidan]                                                              1
Name: hosts, dtype: int64

### Use the isna() function to preview the number of missing values in each column.

In [6]:
pd.isna(df_content) #There are no missing values in any of the columns.

       date  hosts     id  length  start    end  title  summary  keywords
0     False  False  False   False  False  False  False    False     False
1     False  False  False   False  False  False  False    False     False
2     False  False  False   False  False  False  False    False     False
3     False  False  False   False  False  False  False    False     False
4     False  False  False   False  False  False  False    False     False
...     ...    ...    ...     ...    ...    ...    ...      ...       ...
2979  False  False  False   False  False  False  False    False     False
2980  False  False  False   False  False  False  False    False     False
2981  False  False  False   False  False  False  False    False     False
2982  False  False  False   False  False  False  False    False     False
2983  False  False  False   False  False  False  False    False     False

[2984 rows x 9 columns]

### Use the drop() function to drop the columns that are not relevant to the analysis.

In [7]:
print(df_content.dropna(inplace=True))

None

### Use the to_csv() function to save the dataframe as a CSV file and name it banijay_op1data_content_processed.csv and upload/commit the changes to your Github repos.

In [8]:
df_content.to_csv('data/banijay_op1data_content_processed.csv', compression='zip') #Compressed the data to be able to upload it to GitHub.

---

## Content data preparation

### Check and remove missing data

In [9]:
df_content.isnull().values.any().sum()

0

### Check and remove duplicate data (duplicated across all columns)

In [10]:
df_content.drop_duplicates

<bound method DataFrame.drop_duplicates of             date                                              hosts  \
0     01-02-2021               [Hilbrand, Sophie, Logtenberg, Hugo]
1     01-02-2021               [Hilbrand, Sophie, Logtenberg, Hugo]
2     01-02-2021               [Hilbrand, Sophie, Logtenberg, Hugo]
3     01-02-2021               [Hilbrand, Sophie, Logtenberg, Hugo]
4     01-02-2022  [Brink, Tijs van den, Ostiana, Giovanca, Fikse...
...          ...                                                ...
2979  31-08-2021           [Ostiana, Giovanca, Brink, Tijs van den]
2980  31-08-2021           [Ostiana, Giovanca, Brink, Tijs van den]
2981  31-08-2022         [Groenhuijsen, Charles, Napel, Carrie ten]
2982  31-08-2022         [Groenhuijsen, Charles, Napel, Carrie ten]
2983  31-08-2022         [Groenhuijsen, Charles, Napel, Carrie ten]

                                        id    length        start  \
0     OP1__________-WON02197428_01_segment  00:21:21  22:20:11:10
1     OP1__________-WON02197428_02_segment  00:11:04  22:41:36:17
2     OP1__________-WON02197428_03_segment  00:11:15  22:53:04:13
3     OP1__________-WON02197428_04_segment  00:11:20  23:04:22:01
4     OP1__________-WON02290378_01_segment  00:06:22  22:38:18:04
...                                    ...       ...          ...
2979  OP1__________-WON02251309_03_segment  00:12:27  23:14:03:15
2980  OP1__________-WON02251309_04_segment  00:09:00  23:26:30:14
2981  OP1__________-WON02340053_01_segment  00:10:34  22:26:27:06
2982  OP1__________-WON02340053_02_segment  00:15:11  22:37:02:02
2983  OP1__________-WON02340053_03_segment  00:13:49  22:52:52:13

              end                                              title  \
0     22:41:32:12  Gerard Smetsers, Annelie Jager en KÃ¡roly Illy ...
1     22:52:41:03  IC-arts Hugo Touw wil versoepeling van de coro...
2     23:04:20:09  Feike Sijbesma over de gevolgen van de klimaat...
3     23:15:39:09  Danny Ghosen en ex-designerdrugsverslaafde Kev...
4     22:44:40:07            Op1 - De opening van dinsdag 1 februari
...           ...                                                ...
2979  23:26:31:01  Jan Lammers en Robert van Overdijk over de ger...
2980  23:35:29:01  Angela de Jong over het nieuwe televisieseizoe...
2981  22:37:02:01          Op1 - De opening van woensdag 31 augustus
2982  22:52:13:15  Sjaak van der Tak, Annemarie van Gaal en Peter...
2983  23:06:41:12  Tim Knol en Nico Dijkshoorn over hun album en ...

                                                summary  \
0     De basisscholen mogen weer open, maar dat bete...
1     Intensivisten pleiten voor versoepeling van de...
2     Volgens ex-coronagezant Feike Sijbesma is de c...
3     Steeds vaker komen er meldingen binnen van men...
4     Marc van der Linden, Jeroen Snel en Jesse Klav...
...                                                 ...
2979  De Formule 1 in Zandvoort gaat definitief door...
2980  Met het einde van de zomer op de loer, begint ...
2981  De gasten aan tafel bespreken hun nieuws van d...
2982  De coalitiepartijen hebben na een nacht onderh...
2983  Tim Knol kwam deze maand met alweer zijn vijfd...

                                        keywords
0            [directeur, gesloten, basisscholen]
1        [accepteren, waarom, coronamaatregelen]
2           [snel, wereldleiders, klimaatcrisis]
3           [nieuwste, combinatie, designerdrug]
4                         [snel, linden, nieuws]
...                                          ...
2979  [robert, circuitdirecteur, milieubeweging]
2980         [einde, zomer, televisiecolumniste]
2981                     [gasten, tafel, nieuws]
2982          [genoeg, boerenorganisaties, 2030]
2983               [dokter, vanavond, soloalbum]

[2984 rows x 9 columns]>

### Check the format of the start and end columns and convert them to datetime format.

In [11]:
df_content.info() #Checking the format of the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2984 entries, 0 to 2983
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2984 non-null   object
 1   hosts     2984 non-null   object
 2   id        2984 non-null   object
 3   length    2984 non-null   object
 4   start     2984 non-null   object
 5   end       2984 non-null   object
 6   title     2984 non-null   object
 7   summary   2984 non-null   object
 8   keywords  2984 non-null   object
dtypes: object(9)
memory usage: 209.9+ KB

In [12]:
df_content['start'] = df_content['start'].map(lambda x: str(x)[:-3]) #Removing the milliseconds from the start column.

In [13]:
df_content.tail(2) #Checking if the milliseconds were removed.

,date,hosts,id,length,start,end,title,summary,keywords
2982,31-08-2022,"[Groenhuijsen, Charles, Napel, Carrie ten]",OP1__________-WON02340053_02_segment,00:15:11,22:37:02,22:52:13:15,"Sjaak van der Tak, Annemarie van Gaal en Peter...",De coalitiepartijen hebben na een nacht onderh...,"[genoeg, boerenorganisaties, 2030]"
2983,31-08-2022,"[Groenhuijsen, Charles, Napel, Carrie ten]",OP1__________-WON02340053_03_segment,00:13:49,22:52:52,23:06:41:12,Tim Knol en Nico Dijkshoorn over hun album en ...,Tim Knol kwam deze maand met alweer zijn vijfd...,"[dokter, vanavond, soloalbum]"

In [14]:
df_content['end'] = df_content['end'].map(lambda x: str(x)[:-3]) #Removing the milliseconds from the end column.

In [15]:
df_content.tail(2) #Checking if the milliseconds were removed.

,date,hosts,id,length,start,end,title,summary,keywords
2982,31-08-2022,"[Groenhuijsen, Charles, Napel, Carrie ten]",OP1__________-WON02340053_02_segment,00:15:11,22:37:02,22:52:13,"Sjaak van der Tak, Annemarie van Gaal en Peter...",De coalitiepartijen hebben na een nacht onderh...,"[genoeg, boerenorganisaties, 2030]"
2983,31-08-2022,"[Groenhuijsen, Charles, Napel, Carrie ten]",OP1__________-WON02340053_03_segment,00:13:49,22:52:52,23:06:41,Tim Knol en Nico Dijkshoorn over hun album en ...,Tim Knol kwam deze maand met alweer zijn vijfd...,"[dokter, vanavond, soloalbum]"

### Create a date_time_start and date_time_end column by combining the date and time from the Datum, start and end columns.

In [16]:
df_content['date_time_start'] = pd.to_datetime(df_content['date'] + ' ' + df_content['start'], infer_datetime_format=True)
df_content['date_time_end'] = pd.to_datetime(df_content['date'] + ' ' + df_content['end'], infer_datetime_format=True)
df_content.head(2)

,date,hosts,id,length,start,end,title,summary,keywords,date_time_start,date_time_end
0,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_01_segment,00:21:21,22:20:11,22:41:32,"Gerard Smetsers, Annelie Jager en KÃ¡roly Illy ...","De basisscholen mogen weer open, maar dat bete...","[directeur, gesloten, basisscholen]",2021-01-02 22:20:11,2021-01-02 22:41:32
1,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_02_segment,00:11:04,22:41:36,22:52:41,IC-arts Hugo Touw wil versoepeling van de coro...,Intensivisten pleiten voor versoepeling van de...,"[accepteren, waarom, coronamaatregelen]",2021-01-02 22:41:36,2021-01-02 22:52:41

### Split the id column into show_id and fragment columns where fragments can be 1,2,3,or 4.

In [17]:
df_content[['show_id','fragment']] = df_content.id.str.split("_0", expand=True)
df_content.head(2) #Checking if splitting the id column worked.

,date,hosts,id,length,start,end,title,summary,keywords,date_time_start,date_time_end,show_id,fragment
0,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_01_segment,00:21:21,22:20:11,22:41:32,"Gerard Smetsers, Annelie Jager en KÃ¡roly Illy ...","De basisscholen mogen weer open, maar dat bete...","[directeur, gesloten, basisscholen]",2021-01-02 22:20:11,2021-01-02 22:41:32,OP1__________-WON02197428,1_segment
1,01-02-2021,"[Hilbrand, Sophie, Logtenberg, Hugo]",OP1__________-WON02197428_02_segment,00:11:04,22:41:36,22:52:41,IC-arts Hugo Touw wil versoepeling van de coro...,Intensivisten pleiten voor versoepeling van de...,"[accepteren, waarom, coronamaatregelen]",2021-01-02 22:41:36,2021-01-02 22:52:41,OP1__________-WON02197428,2_segment

In [18]:
df_content.info() #Checking the data types of the columns to see if date_time_start and date_time_end are datetime64[ns].

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2984 entries, 0 to 2983
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             2984 non-null   object
 1   hosts            2984 non-null   object
 2   id               2984 non-null   object
 3   length           2984 non-null   object
 4   start            2984 non-null   object
 5   end              2984 non-null   object
 6   title            2984 non-null   object
 7   summary          2984 non-null   object
 8   keywords         2984 non-null   object
 9   date_time_start  2984 non-null   datetime64[ns]
 10  date_time_end    2984 non-null   datetime64[ns]
 11  show_id          2984 non-null   object
 12  fragment         2984 non-null   object
dtypes: datetime64[ns](2), object(11)
memory usage: 303.2+ KB

### Use the to_csv() function to save the dataframe as a CSV file and name it banijay_op1data_content_processed.csv and upload/commit the changes to your Github repos.

In [19]:
df_content.to_csv('data/banijay_op1data_content_processed.csv', compression='zip') #Compressed the data to be able to upload it to GitHub.