In [29]:
import pandas as pd

In [2]:
neighbourhoods = [ "Breda", "Breda centrum", "Valkenberg", "Chassé", "Fellenoord", "Schorsmolen", "Station", "City", "Breda noord", "Belcrum", "Doornbos-Linie", "Biesdonk", "Geeren-zuid", "Wisselaar", "Krogten", "Geeren-noord", "Waterdonken", "Breda oost", "Brabantpark", "Sportpark", "Zandberg", "Heusdenhout", "Moleneind-oost", "Hoogeind", "Breda zuid-oost", "Blauwe Kei", "Ypelaar", "Overakker", "Ginneken", "Mastbos", "Breda zuid", "Boeimeer", "Ruitersbos", "Breda west", "Haagpoort", "Heuvel", "Tuinzigt", "Princenhage", "Westerpark", "Heilaar", "Hazeldonk", "Steenakker", "Effen-Rith", "Liesbos", "Breda noord-west", "Gageldonk", "Kievitsloop", "Kesteren", "Muizenberg", "Heksenwiel", "Overkroeten", "Kroeten", "Emer", "Hagebeemd", "Bavel", "Bavel", "Nieuw Wolfslaar", "Buitengebied Bavel", "Ulvenhout", "Ulvenhout", "Buitengebied Ulvenhout", "Prinsenbeek", "Prinsenbeek", "Buitengebied Prinsenbeek", "Teteringen", "Teteringen", "Vuchtpolder", "Buitengebied Teteringen" ]

In [30]:
df_crime = pd.read_csv("./datasets/registered_crime/registered_crime.csv", sep=";")

C:\Users\maxme\AppData\Local\Temp\ipykernel_876\342191161.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_crime = pd.read_csv("./datasets/registered_crime/registered_crime.csv", sep=";")

In [4]:
df_crime[df_crime["Wijken en buurten"] == "Fellenoord"]

,Soort misdrijf,Perioden,Wijken en buurten,Geregistreerde misdrijven (aantal)
544,Totaal misdrijven,2012 januari,Fellenoord,23
545,Totaal misdrijven,2012 februari,Fellenoord,14
546,Totaal misdrijven,2012 maart,Fellenoord,26
547,Totaal misdrijven,2012 april,Fellenoord,14
548,Totaal misdrijven,2012 mei,Fellenoord,22
...,...,...,...,...
537059,3.9.3 Fraude (overig),2022 december,Fellenoord,0
537060,3.9.3 Fraude (overig),2023 januari,Fellenoord,0
537061,3.9.3 Fraude (overig),2023 februari,Fellenoord,0
537062,3.9.3 Fraude (overig),2023 maart,Fellenoord,0
537063,3.9.3 Fraude (overig),2023 april,Fellenoord,0

In [40]:
df_nuisance = pd.read_csv("./datasets/registered_nuisance/registered_nuisance.csv", sep=";")

df_nuisance

             ID Overlast WijkenEnBuurten  Perioden  GeregistreerdeOverlast_1
0        472899   0.0.0       GM0758      2012MM01                       276
1        472900   0.0.0       GM0758      2012MM02                       277
2        472901   0.0.0       GM0758      2012MM03                       313
3        472902   0.0.0       GM0758      2012MM04                       242
4        472903   0.0.0       GM0758      2012MM05                       402
...         ...      ...             ...       ...                       ...
89959  21657946   M22         BU07581009  2022JJ00                         2
89960  21657947   M22         BU07581009  2023MM01                         0
89961  21657948   M22         BU07581009  2023MM02                         0
89962  21657949   M22         BU07581009  2023MM03                         0
89963  21657950   M22         BU07581009  2023MM04                         0

[89964 rows x 5 columns]

In [41]:
nuisance_key_title = pd.read_csv("./datasets/registered_nuisance/nuisance_key_title.csv", sep=";")
neighbourhood_key_title = pd.read_csv("./datasets/registered_nuisance/neighbourhood_key_title.csv", sep=";")

df_nuisance = pd.merge(df_nuisance, nuisance_key_title, left_on="Overlast", right_on="Key")
df_nuisance= df_nuisance.rename(columns={"Title": "Nuisance"})
df_nuisance = df_nuisance.drop("Key", axis=1)

df_nuisance = pd.merge(df_nuisance, neighbourhood_key_title, left_on="WijkenEnBuurten", right_on="Key")
df_nuisance= df_nuisance.rename(columns={"Title": "NeighbourhoodName"})
df_nuisance = df_nuisance.drop("Key", axis=1)

df_nuisance

,ID,Overlast,WijkenEnBuurten,Perioden,GeregistreerdeOverlast_1,Nuisance,NeighbourhoodName
0,472899,0.0.0,GM0758,2012MM01,276,Totaal registraties overlast,Breda
1,472900,0.0.0,GM0758,2012MM02,277,Totaal registraties overlast,Breda
2,472901,0.0.0,GM0758,2012MM03,313,Totaal registraties overlast,Breda
3,472902,0.0.0,GM0758,2012MM04,242,Totaal registraties overlast,Breda
4,472903,0.0.0,GM0758,2012MM05,402,Totaal registraties overlast,Breda
...,...,...,...,...,...,...,...
89959,21657946,M22,BU07581009,2022JJ00,2,Geluidshinder overig,Buitengebied Teteringen
89960,21657947,M22,BU07581009,2023MM01,0,Geluidshinder overig,Buitengebied Teteringen
89961,21657948,M22,BU07581009,2023MM02,0,Geluidshinder overig,Buitengebied Teteringen
89962,21657949,M22,BU07581009,2023MM03,0,Geluidshinder overig,Buitengebied Teteringen
89963,21657950,M22,BU07581009,2023MM04,0,Geluidshinder overig,Buitengebied Teteringen

In [19]:
registered_nuisance = pd.read_csv("./datasets/registered_nuisance/geregistreerde_overlast_breda.csv", sep=";")

In [20]:
registered_nuisance

,Overlast,Perioden,Regio's,Geregistreerde overlast (aantal)
0,Totaal registraties overlast,2012 januari,Breda,276
1,Totaal registraties overlast,2012 februari,Breda,277
2,Totaal registraties overlast,2012 maart,Breda,313
3,Totaal registraties overlast,2012 april,Breda,242
4,Totaal registraties overlast,2012 mei,Breda,402
...,...,...,...,...
1318,Geluidshinder overig,2022,Breda,1719
1319,Geluidshinder overig,2023 januari,Breda,113
1320,Geluidshinder overig,2023 februari,Breda,88
1321,Geluidshinder overig,2023 maart,Breda,82
1322,Geluidshinder overig,2023 april,Breda,96

In [35]:
registered_nuisance["Overlast"].unique()

array(['Totaal registraties overlast', 'Overlast door verward persoon',
       'Melding overlast jeugd', 'Overlast ivm alcohol/ drugs',
       'Overlast zwervers', 'Openbare dronkenschap',
       'Geluidshinder horeca', 'Geluidshinder evenement',
       'Geluidshinder overig'], dtype=object)

In [24]:
# visualize the table, but only the data from "Geluidshinder evenement" from the "Overlast" column

registered_nuisance[registered_nuisance["Overlast"] == "Geluidshinder evenement"]

,Overlast,Perioden,Regio's,Geregistreerde overlast (aantal)
1029,Geluidshinder evenement,2012 januari,Breda,0
1030,Geluidshinder evenement,2012 februari,Breda,1
1031,Geluidshinder evenement,2012 maart,Breda,0
1032,Geluidshinder evenement,2012 april,Breda,2
1033,Geluidshinder evenement,2012 mei,Breda,4
...,...,...,...,...
1171,Geluidshinder evenement,2022,Breda,15
1172,Geluidshinder evenement,2023 januari,Breda,0
1173,Geluidshinder evenement,2023 februari,Breda,2
1174,Geluidshinder evenement,2023 maart,Breda,2
1175,Geluidshinder evenement,2023 april,Breda,1

In [27]:
registered_crime = pd.read_csv("./datasets/registered_nuisance/misdrijven_breda.csv", sep=";")

registered_crime

,Soort misdrijf,Perioden,Regio's,Geregistreerde misdrijven (aantal)
0,Totaal misdrijven,2012 januari,Breda,1416
1,Totaal misdrijven,2012 februari,Breda,1300
2,Totaal misdrijven,2012 maart,Breda,1402
3,Totaal misdrijven,2012 april,Breda,1365
4,Totaal misdrijven,2012 mei,Breda,1482
...,...,...,...,...
142,Totaal misdrijven,2022,Breda,10807
143,Totaal misdrijven,2023 januari,Breda,1106
144,Totaal misdrijven,2023 februari,Breda,973
145,Totaal misdrijven,2023 maart,Breda,901
146,Totaal misdrijven,2023 april,Breda,835